html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

.cover {
  width: 100%;
  height: 65%; }
  .cover .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (max-width: 575.98px) {
  .cover {
    height: 50% !important; } }

.content {
  background-color: black;
  width: 100%;
  padding: 150 0 150 0; }

@media (max-width: 575.98px) {
  .content {
    background-color: red; } }
