@import '../bootstrap/bootstrap.scss';

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.cover {
  width: 100%;
  height: 50%;

  @include media-breakpoint-up(sm) {
    height: 65%;
  }

  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cover-title {
    color: white;
    font-size: 2.25rem;
    font-weight: 300;
    position: absolute;
    top: 36px;
    left: 36px;

    // large
    @include media-breakpoint-up(md) {
      font-size: 4.875rem;
      top: 100px;
      left: 100px;
    }

    // extra large
    @include media-breakpoint-up(lg) {
      font-size: 5.875rem;
      top: 100px;
      left: 100px;
    }
  }
}

.cover-text {
  margin-bottom: 72px;
}

.content {
  color: white;
  padding: 72px 0 72px 0;

  @include media-breakpoint-up(sm) {
    padding: 150px 0 150px 0;
  }
}

.col-album {
  &:not(:first-child) {
    margin: 72px 0 0 0;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }
}

.album {
  background-color: gray;
  width: 65vw;
  height: 65vw;

  @include media-breakpoint-up(sm) {
    width: 300px;
    height: 300px;
  }
}