@import '../bootstrap/bootstrap.scss';

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.cover {
  color: white;
  width: 100%;
  height: 50%;
  position:relative;

  @include media-breakpoint-up(sm) {
    height: 65%;
  }

  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cover-title {
    font-size: 2.25rem;
    font-weight: 300;
    position: absolute;
    top: 36px;
    left: 36px;

    // Notebooks e tablets
    @media (min-width: 768px) {
      font-size: 4.0rem;
      top: 72px;
      left: 72px;
    }

    // Desktop
    @media (min-width: 1367px) {
      font-size: 5.875rem;
      top: 100px;
      left: 100px;
    }
  }

  .cover-text {
    opacity: 0.7;
    margin: 0 0 0 0;
    position: absolute;
    bottom: 48px;
    right: 56px;

    // Notebooks e tablets
    @media (min-width: 768px) {
      width: 400px;
      font-size: 1.5rem;
    }

    // Desktop
    @media (min-width: 1367px) {
      width: 500px;
      font-size: 2.25rem;
    }
  }
}

.cover-text {
  font-size: 1rem;
  margin-bottom: 72px;
  opacity: 0.7;
  padding: 0 24px 0 24px;
}

.content {
  color: white;
  font-size: 1rem;
  padding: 72px 0 72px 0;

  @include media-breakpoint-up(sm) {
    padding: 150px 0 150px 0;
  }
}

.col-album {
  &:not(:first-child) {
    margin: 72px 0 0 0;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }
}

.album {
  background-color: gray;
  width: 65vw;
  height: 65vw;

  @include media-breakpoint-up(sm) {
    width: 300px;
    height: 300px;
  }
}