@import '../bootstrap/bootstrap.scss';

html, body {
  width: 100%;
  height: 100%;
  background-color: #1C1C1C;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.cover {
  color: white;
  width: 100%;
  height: 50%;
  position:relative;

    // Notebooks e tablets
    @media (min-width: 768px) {
      height: 75%;
    }

    // Desktop
    @media (min-width: 1367px) {
      height: 85%;
    }

  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cover-title {
    font-size: 2.25rem;
    font-weight: 300;
    position: absolute;
    top: 36px;
    left: 36px;

    // Notebooks e tablets
    @media (min-width: 768px) {
      font-size: 4.0rem;
      top: 72px;
      left: 72px;
    }

    // Desktop
    @media (min-width: 1367px) {
      font-size: 5.875rem;
      top: 100px;
      left: 100px;
    }
  }

  .cover-text {
    opacity: 0.7;
    margin: 0 0 0 0;
    position: absolute;
    bottom: 48px;
    right: 56px;
    max-width: 400px;

    // Notebooks e tablets
    @media (min-width: 768px) and (max-width: 1366px) {
      width: 500px;
      font-size: 1.175rem;
    }

    // Desktop
    @media (min-width: 1367px) {
      width: 500px;
      font-size: 1.75rem;
    }
  }
}

.cover-text {
  font-size: 1rem;
  margin-bottom: 56px;
  opacity: 0.65;
  padding: 0 24px 0 24px;
}

.content {
  color: white;
  font-size: 1rem;
  padding: 56px 0 56px 0;

  @include media-breakpoint-up(sm) {
    padding: 150px 0 150px 0;
  }
}

.col-album {
  &:not(:first-child) {
    margin: 56px 0 0 0;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }
}

.album {
  width: 75%;
  height: fit-content;
  border-radius: 8px;

  &.album_1{
    background-color: #141311;
  }

  &.album_2{
    background-color: #1F121A;
  }

  @include media-breakpoint-up(sm) {
    width: 70%;
  }

  // material shadow
  box-shadow: 0 3px 5px rgba(0,0,0,1), 0 1px 2px rgba(0,0,0,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  img {
    width: 100%;
    height: auto;
  }

  &.soon {
    opacity: 0.35;

    &:hover{
      opacity: 1;
    }
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,1), 0 10px 10px rgba(0,0,0,1);
  }
}

.album-description {
  padding: 16px 0 16px 0;
}

.soon_text {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 16px 0 16px;
}